@{
    ViewData["Title"] = "Home Page";
}
@Model Models.Parking

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <h2>@Model.Regnr has valid parking!</h2>
    <p>From @Model.FromDate</p>
    <p>To @Model.ToDate</p>
</div>
<script>
	

</script>
