@{
    ViewData["Title"] = "Home Page";
}
@model ParkingReg.Web.Models.Parking

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <h2>@Model.Regnr er allerede registrert</h2>
    <p>Fra @Model.FromDate</p>
    <p>Til @Model.ToDate</p>
    <a asp-controller="parking" asp-action="index"><button>Tilbake</button></a>
</div>
<script>
	

</script>
