@{
    ViewData["Title"] = "Home Page";
}
@model ParkingReg.Web.Models.HandleEmailModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Epost sendt til @Model.Email</p>
    <p>Sjekk Eposten din for link til registrering av parkering!</p>
</div>
