@{
    ViewData["Title"] = "Home Page";
}
@model ParkingReg.Web.Models.Vtk

<div class="text-center">
    <h1 class="display-4">Skriv inn skilt nummer til bilen</h1>
    <input id="regnri" type="text" placeholder="Reg nummer"/>
    <input id="tkn" value="@Model.Token" type="text" hidden />
    <button onclick="nextto()">Videre</button>
</div>
<script>
	const ri = document.getElementById("regnri");
    const tkn = document.getElementById("tkn");
    function nextto() {
        const regnri = ri.value;
        const tknv = tkn.value;
		window.location.href = `/parking/?t=${tknv}&regnr=${regnri}`;
    }

</script>
