@{
    ViewData["Title"] = "Home Page";
}
@Model Models.Parking

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Your parking was rejected.</p>
    <a href="/parking"><button>tilbake</button></a>
</div>
<script>
	

</script>
